html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.profile{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.back-btn-container{
  margin: 2rem 0;
}
.back-btn{
  color: #0060ce;
  text-decoration: underline;
}